# /**⸺ AIRFLOW ⸺⸺⸺⸺⸺*/
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
FERNET_KEY=
# python -c "import secrets; print(secrets.token_hex(32))"
JWT_SECRET=
SECRET_KEY=

# /**⸺ POSTGRES for ETL data ⸺*/
POSTGRES_DATA_USER=
POSTGRES_DATA_PASSWORD=
POSTGRES_DATA_DB=

# /**⸺ GRAFANA ⸺⸺⸺⸺⸺*/
GRAFANA_USER=
GRAFANA_PASSWORD=
