# /**⸺ AIRFLOW ⸺⸺⸺⸺⸺*/
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
FERNET_KEY=
# JWT_SECRET must be long enough for sha512 validation (≥ 86bytes)
JWT_SECRET=
SECRET_KEY=

# /**⸺ POSTGRES for ETL data ⸺*/
POSTGRES_DATA_USER=
POSTGRES_DATA_PASSWORD=
POSTGRES_DATA_DB=
